<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help msg: {{content}}</p>
    </div>
    {{!-- Don't need to put entire file name for partials --}}

    {{>footer}}
</body>

</html>